In [1]:
import pandas as pd

In [2]:
df_news_numbers = pd.read_csv("economic_calendar.csv")
df_btc_price = pd.read_csv("df_binance.csv").drop(columns=["Unnamed: 0", "symbol", "interval"])
display(df_btc_price)
display(df_news_numbers)

,Date,open,high,low,close,volume,quote_volume,trades,taker_buy_base,taker_buy_quote
0,2020-10-01,10773.00,10935.14,10442.00,10612.63,253619.622,2.711076e+09,794540,130468.053,1.395487e+09
1,2020-10-02,10612.62,10660.00,10371.03,10565.15,224747.037,2.359978e+09,764820,113926.065,1.196694e+09
2,2020-10-03,10565.44,10596.00,10491.11,10537.96,76315.911,8.044090e+08,434460,40622.782,4.282080e+08
3,2020-10-04,10537.96,10694.00,10514.00,10660.16,90912.105,9.644360e+08,492034,50394.855,5.346520e+08
4,2020-10-05,10660.16,10792.00,10608.90,10785.00,130589.137,1.397359e+09,593867,70197.411,7.513088e+08
...,...,...,...,...,...,...,...,...,...,...
1852,2025-10-27,114497.90,116380.20,113792.40,114064.10,118611.612,1.365512e+10,3606096,57954.035,6.673491e+09
1853,2025-10-28,114064.20,116074.30,112121.40,112833.50,131088.840,1.496835e+10,3953418,64663.100,7.384671e+09
1854,2025-10-29,112833.50,113593.00,109026.40,109985.60,163920.866,1.830267e+10,4943718,78716.735,8.791661e+09
1855,2025-10-30,109985.60,111565.10,106200.00,108263.50,205753.644,2.236911e+10,6330320,100086.671,1.088224e+10
1856,2025-10-31,108263.60,111233.00,108226.60,109557.30,152063.776,1.668380e+10,4790937,78106.793,8.570620e+09

            data                          evento     atual previsao anterior
0     2020/01/02          Initial Jobless Claims      222K     225K     224K
1     2020/01/03     ISM Manufacturing PMI (Dec)      47.2     49.0     48.1
2     2020/01/03  ISM Manufacturing Prices (Dec)      51.7     47.5     46.7
3     2020/01/03           Crude Oil Inventories  -11.463M  -3.288M  -5.474M
4     2020/01/03            FOMC Meeting Minutes       NaN      NaN      NaN
...          ...                             ...       ...      ...      ...
2810  2025/10/29           Crude Oil Inventories   -6.858M  -0.900M  -0.961M
2811  2025/10/29                  FOMC Statement       NaN      NaN      NaN
2812  2025/10/29      Fed Interest Rate Decision     4.00%    4.00%    4.25%
2813  2025/10/29           FOMC Press Conference       NaN      NaN      NaN
2814  2025/10/31               Chicago PMI (Oct)      43.8     42.3     40.6

[2815 rows x 5 columns]

In [3]:
df_news_numbers["evento"].value_counts().head(20)

evento
Crude Oil Inventories          305
Initial Jobless Claims         300
Fed Chair Powell Speaks         80
30-Year Bond Auction            70
10-Year Note Auction            70
Fed Interest Rate Decision      48
FOMC Press Conference           47
FOMC Meeting Minutes            47
FOMC Statement                  47
Fed Chair Powell Testifies      39
U.S. President Trump Speaks     30
FOMC Economic Projections       22
U.S. President Biden Speaks     22
GDP (QoQ) (Q2)                  18
GDP (QoQ) (Q1)                  18
GDP (QoQ) (Q4)                  18
GDP (QoQ) (Q3)                  15
Fed Monetary Policy Report      10
Nonfarm Payrolls (Jun)           6
Unemployment Rate (Jun)          6
Name: count, dtype: int64

In [5]:
df = df_news_numbers.loc[df_news_numbers["evento"].isin([
    "Crude Oil Inventories",
    "Initial Jobless Claims",
    "Fed Interest Rate Decision"
])].copy()

In [ ]:
mask_crude = df["evento"] == "Crude Oil Inventories"
mask_initial_jobless_claims = df["evento"] == "Initial Jobless Claims"
mask_fed_interest_rate_decision = df["evento"] == "Fed Interest Rate Decision"
mask = mask_crude | mask_initial_jobless_claims | mask_fed_interest_rate_decision

for col in ["atual", "previsao", "anterior"]:
    df.loc[mask_crude, col] = (
        df.loc[mask_crude, col].str.replace("M", "").astype(float) * 1_000_000
    )
    df.loc[mask_initial_jobless_claims, col] = (
        df.loc[mask_initial_jobless_claims, col].str.replace("K", "").str.replace(",", "").astype(float) * 1_000
    )
    df.loc[mask_fed_interest_rate_decision, col] = (
        df.loc[mask_fed_interest_rate_decision, col].str.replace("%", "").astype(float) / 100
    )

df.loc[mask, "diferenca"] = (
    df.loc[mask, "atual"]
    - df.loc[mask, "previsao"]
)
df

,data,evento,atual,previsao,anterior,diferenca
0,2020/01/02,Initial Jobless Claims,222000.0,225000.0,224000.0,-3000.0
3,2020/01/03,Crude Oil Inventories,-11463000.0,-3288000.0,-5474000.0,-8175000.0
8,2020/01/08,Crude Oil Inventories,1164000.0,-3572000.0,-11463000.0,4736000.0
10,2020/01/09,Initial Jobless Claims,214000.0,220000.0,223000.0,-6000.0
19,2020/01/15,Crude Oil Inventories,-2549000.0,-474000.0,1164000.0,-2075000.0
...,...,...,...,...,...,...
2794,2025/10/08,Crude Oil Inventories,3715000.0,2250000.0,1792000.0,1465000.0
2801,2025/10/16,Crude Oil Inventories,3524000.0,300000.0,3715000.0,3224000.0
2802,2025/10/22,Crude Oil Inventories,-961000.0,2200000.0,3524000.0,-3161000.0
2810,2025/10/29,Crude Oil Inventories,-6858000.0,-900000.0,-961000.0,-5958000.0
2812,2025/10/29,Fed Interest Rate Decision,0.04,0.04,0.0425,0.0

In [11]:
final_df = pd.DataFrame({
    "data": df["data"],
    "Initial Jobless Claims": df["diferenca"].where(df["evento"] == "Initial Jobless Claims"),
    "Crude Oil Inventories": df["diferenca"].where(df["evento"] == "Crude Oil Inventories"),
    "Fed Interest Rate Decision": df["diferenca"].where(df["evento"] == "Fed Interest Rate Decision"),
})
final_df = final_df.fillna(0)
display(final_df)
final_df.to_csv("economic_features.csv", index=False)

,data,Initial Jobless Claims,Crude Oil Inventories,Fed Interest Rate Decision
0,2020/01/02,-3000.0,0.0,0.0
3,2020/01/03,0.0,-8175000.0,0.0
8,2020/01/08,0.0,4736000.0,0.0
10,2020/01/09,-6000.0,0.0,0.0
19,2020/01/15,0.0,-2075000.0,0.0
...,...,...,...,...
2794,2025/10/08,0.0,1465000.0,0.0
2801,2025/10/16,0.0,3224000.0,0.0
2802,2025/10/22,0.0,-3161000.0,0.0
2810,2025/10/29,0.0,-5958000.0,0.0
2812,2025/10/29,0.0,0.0,0.0

In [ ]:
event_selection = "Fed Chair Powell Speaks"
df_selected_events = df_news_numbers.loc[df_news_numbers["evento"] == event_selection]
event_dates = pd.to_datetime(df_selected_events["data"]).dt.date.unique()
df_btc_price["date"] = pd.to_datetime(df_btc_price["Date"]).dt.date
df_btc_price_events = df_btc_price.loc[df_btc_price["date"].isin(event_dates)]

df_dict = pd.DataFrame({
    "Date": df_btc_price_events["Date"],
    "BTC_daily_returns": None,
    "BTC_daily_volume": df_btc_price_events["volume"],
    "BTC_returns_since_last_event": None,
})
BTC_daily_returns = []
BTC_returns_since_last_event = []
for date in df_btc_price_events["Date"]:
    btc_close_price_today = df_btc_price.loc[df_btc_price["Date"] == date, "close"].values[0]
    btc_open_price_today = df_btc_price.loc[df_btc_price["Date"] == date, "open"].values[0]

    daily_return = (btc_close_price_today - btc_open_price_today) / btc_open_price_today
    BTC_daily_returns.append(daily_return)
    
    last_event_date = df_selected_events.loc[pd.to_datetime(df_selected_events["data"]).dt.date < pd.to_datetime(date).date(), "data"]
    if len(last_event_date) == 0:
        BTC_returns_since_last_event.append(None)
    else:
        last_event_date = last_event_date.iloc[-1]
        last_event_date = f"{last_event_date[:4]}-{last_event_date[5:7]}-{last_event_date[8:10]}"
        btc_price_last_event = df_btc_price.loc[df_btc_price["Date"] == last_event_date, "close"].values[0]
        return_since_last_event = (btc_open_price_today - btc_price_last_event) / btc_price_last_event
        BTC_returns_since_last_event.append(return_since_last_event)

df_dict["BTC_daily_returns"] = BTC_daily_returns
df_dict["BTC_returns_since_last_event"] = BTC_returns_since_last_event
display(df_dict.head(30))